<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `fitness_icon.jpg` | relURL }}" alt="Personalized Fitness Plans" width="150" height="150">
        <h2 class="h2">Personalized Fitness Plans</h2>
        <p>Access workout routines tailored to your unique fitness level and personal goals, ensuring an effective and personalized fitness journey.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `nutrition_plate_icon.jpg` | relURL }}" alt="Customized Nutrition Advice" width="150" height="150">
        <h2 class="h2">Customized Nutrition Advice</h2>
        <p>Receive dietary recommendations that align with your health objectives and food preferences for a healthier lifestyle.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `ai_icon.jpg` | relURL }}" alt="AI Coach Feedback" width="150" height="150">
        <h2 class="h2">AI Coach Feedback</h2>
        <p>Engage with an AI coach that provides instant feedback during your workouts to help improve your form and technique.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Wearable Tracker Sync</h2>
        <p>Seamlessly integrate with your fitness tracker to automatically sync your activity data for enhanced workout insights.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Community Challenges</h2>
        <p>Join community fitness challenges to stay motivated, compete with peers, and achieve your fitness goals together.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Health & Wellness Education</h2>
        <p>Expand your knowledge with access to a wealth of health and wellness educational content to inform and inspire your journey.</p>
    </div>
</div>
