<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `curated_video_icon.jpg` | relURL }}" alt="Curated Video Results" width="150" height="150">
        <h2 class="h2">Curated Video Results</h2>
        <p>Get personalized video recommendations based on the highlighted text to ensure relevance and enhance your learning experience.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `bookmark_icon.jpg` | relURL }}" alt="Easily Accessible Bookmarks" width="150" height="150">
        <h2 class="h2">Easily Accessible Bookmarks</h2>
        <p>Save and organize your favorite educational videos for quick access and reference, making learning more efficient.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `cuztomizable_filters_icon.jpg` | relURL }}" alt="Customizable Filters" width="150" height="150">
        <h2 class="h2">Customizable Filters</h2>
        <p>Use advanced filters to customize video searches based on relevance, duration, and more to tailor content to your needs.</p>
    </div>
</div>
<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `time_icon.jpg` | relURL }}" alt="Page-Specific History" width="150" height="150">
        <h2 class="h2">Page-Specific History</h2>
        <p>Track your video engagement history on a per-page basis, allowing you to easily revisit and review previously watched content.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `keywords.jpeg` | relURL }}" alt="Keyword Extraction" width="150" height="150">
        <h2 class="h2">Keyword Extraction</h2>
        <p>Automatically extract keywords from the highlighted text to generate relevant video suggestions, streamlining the search process.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `easy.jpeg` | relURL }}" alt="Convenient Integrated Interface" width="150" height="150">
        <h2 class="h2">Convenient Integrated Interface</h2>
        <p>Enjoy a seamless integration with a user-friendly interface that enhances your browsing and learning experience without interruptions.</p>
    </div>
</div>